<% include ./partials/header.ejs %>
<h1><%= campground.name %></h1>

<img width='500px' src="<%= campground.image %>" >

<div>
    <p>
        <h3><%= campground.description %></h3>
    </p>
</div>
<div>
    <p>
        <% campground.comments.forEach(function(comment){  %>
            <h5>Author: <%= comment.author %> - Text: <%= comment.text %></h5>
        <% }) %>
    </p>
</div>

<% include ./partials/footer.ejs %>