<% include ../partials/header.ejs %>
<div class="container">
    
    <div class="row">
        <div class='col-md-3'>
            <p class="lead">Yelp Camp</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item ">Info 2</li>
                <li class="list-group-item ">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div>
                <img class="img-thumbnail mx-auto d-block img-fluid" style="max-width: 100%; and height: auto;" src="<%= campground.image %>" >
                <div class="caption-full">
                    <h4 class="float-right">$9.45/night</h4>
                    <h4><a href="#"><%= campground.name.toUpperCase() %></a></h4>
                    <p><%= campground.description %></p>
                </div>
            </div>
            <div class="card ">
                <div class="card-header">
                    <a href="/campgrounds/<%= campground._id %>/comments/new" class="btn btn-success float-right">Add new comment</a>    
                </div>
                    <% campground.comments.forEach(function(comment){  %>
                    <div class="row card-body">
                        <div class="col-md-12">
                                <strong ><%= comment.author %> :</strong>
                                <span class="float-right">XX days ago</span>
                                <p ><%= comment.text %></p>
                        </div>                        
                    </div>

                    <% }) %>
                
            </div>
        </div>

        
    </div>
    <div>
        
        <p>
            
        </p>
    </div>
</div>
<% include ../partials/footer.ejs %>